*.dll
*.pdb
*.exe
bin
obj
.vs/
Postie/data/kafka/
*.user
/LoggingService/.config/
*.pubxml
Postie.DAL/Migrations/
/Postie/.config/
/AccountService/config.env
/AccountService/auth.yml
/AccountService/auth.json
/Postie/appConfig.json
